{% extends 'base.html.twig' %}

{% block title %}Edit ExtraProduct{% endblock %}

{% block body %}
    <h1>Edit ExtraProduct</h1>

    {{ include('extra_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('extra_product_index') }}">back to list</a>

    {{ include('extra_product/_delete_form.html.twig') }}
{% endblock %}
