{% extends 'base.html.twig' %}

{% block title %}New ExtraProduct{% endblock %}

{% block body %}
    <h1>Create new ExtraProduct</h1>

    {{ include('extra_product/_form.html.twig') }}

    <a href="{{ path('extra_product_index') }}">back to list</a>
{% endblock %}
